.discover__container {
  max-width: 1440px;
  margin-bottom: 3rem;
  padding-inline: 7.5rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.discover__header {
  font-size: 2.8rem;
}

.header__arrow_btns {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.arrow__btn {
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #888888;
  background-color: transparent;
}

.arrow__btn:hover {
  background-color: #d0cbff;
}

.carousel__box {
  max-width: 1440px;
  margin: 0 auto;
  height: 30rem;
}

.carousel__box ul {
  display: flex !important;
  margin: 0 auto !important;
}

.carousel__box li {
  width: 230px !important;
  margin-right: 6rem;
}

.slide__card {
  display: flex;
  width: 230px;
  margin: 0 auto;
}
.slide__img {
  width: 30rem;
  height: 20rem;
  cursor: pointer;
}
