.home {
  background: linear-gradient(180deg, #d0cbff 0%, rgba(208, 203, 255, 0) 100%);
  min-height: 100vh;
  display: flex;
}

.home__container {
  max-width: 1440px;
  margin: auto;
  padding-inline: 7.5rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.home__container_wrapper {
  width: 419px;
}

.header {
  font-size: 6rem;
  line-height: 6.875rem;
  margin-bottom: 2.7rem;
}

.header__info {
  font-size: 1.7rem;
  font-weight: 500;
  padding-right: 12.75rem;
  line-height: 160%;
  margin-bottom: 6.4rem;
  width: 481px;
}

.header__button {
  font-size: 1.9rem;
  text-shadow: 0px 3px 2px #a9a9a9;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.header__button:hover {
  background-color: #d0cbff;
  border-radius: 20px;
}
