.recommended {
  margin-bottom: 10rem;
}

.container {
  max-width: 1440px;
  padding-inline: 7.5rem;
}

.recommended__h1 {
  font-size: 2.8rem;
}

.recommended__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 3rem;
  gap: 2rem;
}

.recommended__card {
  aspect-ratio: 1 / 1;
  background: black;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  object-fit: contain;
}

.recommended__card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.recommended__img {
  height: 100%;
  width: 100%;
}

.recommended__img:hover {
  filter: brightness(0.9);
}

.recommended__h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  margin: 0;
  font-size: 1.5em;
  text-align: left;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
