* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Satoshi";
  src: url(./Assets/Satoshi-font/Satoshi-Black.otf) format("opentype");
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}
